.container {
	display: grid;
	grid-template-columns: 15% 70% 15%;
}

.top-bar {
	grid-column: 1/4;
}

.menu-bar {
	width: 70%;
	margin: 0 auto;
}

.header {
	grid-column: 2/3;
}

.saved-stories {
	grid-column: 2/3;
}

.sub-header {
	grid-column: 2/3;
}

.main {
	grid-column: 2/3;
}