/*Global*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

/*Menu bar*/

.top-bar {
	grid-column: 1/4;
	border-bottom: 1px solid rgb(219,219,219);
	margin-bottom: 30px;
}

.menu-bar {
	grid-column: 2/3;
	display: flex;
	width: 50%;
	margin: 0 auto;
	height: 54px;
	align-items: center;
}

.search-bar {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	position: relative;
}

.search-field {
	text-align: center;
	font-family: FontAwesome, sans-serif;
	font-size: 12px;
	width: 200px;
	padding: 5px 8px;
	border: 1px solid #BBB;
	border-radius: 3px;
	outline: none;
}

::placeholder {
	color: #AAA;
}

.search-field:focus {
	text-align: left;
}		


.icons a {
	text-decoration: none;
	margin: 0 9px;
}

.icons a img {
	width: 22px;
	height: 22px;
}

/*Header*/

.header {
	display: flex;
	height: 200px;
	grid-column: 2/3;
	margin-bottom: 44px;
}

.header .avatar {
	display: flex;
	width: 30%;
	justify-content: center;
}

.header .avt-round {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}

.header .user-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.header .user-menu {
	display: flex;
}

.message, .relationship, .suggestions, .more {
	padding: 0 10px;
	margin-right: 2%;
	line-height: 26px;
	background: #FFF;
	border-radius: 4px; 
}

.user-info .user-menu span {
	font-size: 25px;
}

.user-info .user-menu img {
	width: 18px;
	height: 18px;
	padding:0 15px 0 8px; 

}

.user-menu .message {
	font-weight: 600;
	padding: 0 15px;
	border: 1px solid #CCC;
}

.user-menu .relationship {
	color: #555;
	padding: 0 28px;
	border: 1px solid #CCC;
}

.user-menu .suggestions {
	padding: 0 12px;
	border: 1px solid #CCC;
}

.user-menu .more {
	font-size: 18px;
	padding: 0 10px;
	border: none;
}

/*User follow*/

.header .user-follow {
	display: flex;
	margin: 20px 0;
}

.user-follow > * {
	padding-right: 5%;
}

.user-follow .counter {
	font-weight: 600;
}

/*User bio*/
.user-bio {
	line-height: 24px;
}

.user-bio h1 {
	font-size: 16px;
}

.user-bio a {
	text-decoration: none;
	color: #00376b;
	font-weight: 600;
}

.user-bio .friends-follow {
	font-size: 12px;
	margin-top: 14px;
}
.user-bio .friends-follow a{
	font-weight: normal;
	color: rgb(38,38,38);
}

/*Saved Stories*/

.saved-stories {
	grid-column: 2/3;
	height: 130px;
}

.saved-stories .list-stories {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

.saved-stories .round-saw {
	width: 87px;
	height: 87px;
	border: 1px solid #DDD;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.saved-stories .round-item {
	width: 77px;
	height: 77px;
	border-radius: 50%;
	overflow: hidden;
}

.round-item img {
	width: 100%;
}

.saved-stories .item {
	padding: 10px 15px;
}

.saved-stories .item-info {
	font-size: 14px;
	font-weight: 600;
	padding-top: 15px;
	text-align: center;
}

/*Sub Header*/

.sub-header {
	grid-column: 2/3;
}

.main {
	grid-column: 2/3;
}